server {
  
  listen 80;

  listen 443 default_server ssl;

  root /var/www/http_networked;

  location /introspection {
    default_type "text";
    autoindex on;
  }

  location / {
    index home.html;
    try_files $uri $uri/ =404;
  }

  server_name ytrellu.com www.ytrellu.com;
 
  ssl_certificate /etc/letsencrypt/live/ytrellu.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/ytrellu.com/privkey.pem;

  # https://en.wikipedia.org/wiki/CRIME
  gzip on;
  gunzip on;
}
