server {
  
  listen 80;

  listen 443 default_server ssl;

  root /var/www/http_networked;

  location /introspection {
    default_type "text";
    autoindex on;
  }

  location /photos {
    charset utf-8;
    default_type "text";
    autoindex on;
    add_after_body /introspection/http_networked/autoIndexHeader.html;
    expires max;
    add_header Cache-Control "public";
  }

  location /webdav {
    auth_basic "Restricted Content";
    auth_basic_user_file /etc/nginx/.htpasswd;

    client_body_temp_path /tmp/webdav;

    dav_methods PUT DELETE MKCOL COPY MOVE;
    dav_ext_methods PROPFIND OPTIONS;

    create_full_put_path on;
    dav_access user:rw group:r;

    autoindex on;
  }

  # https://return42.github.io/handsOn/radicale/dav_client.html
  # https://www.williamjbowman.com/blog/2015/07/24/setting-up-webdav-caldav-and-carddav-servers/
  location /radicale/ {
      proxy_pass           http://localhost:5232/;
      proxy_set_header     X-Script-Name /radicale;
      proxy_set_header     X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header     X-Remote-User $remote_user;
      proxy_set_header     Host $http_host;
      auth_basic           "Radicale - Password Required";
      auth_basic_user_file /etc/nginx/.htpasswd;
  }

  location / {
    index home.html;
    try_files $uri $uri.html $uri/ =404;
  }

  server_name ytrellu.com www.ytrellu.com;
 
  ssl_certificate /etc/letsencrypt/live/ytrellu.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/ytrellu.com/privkey.pem;

  # https://en.wikipedia.org/wiki/CRIME
  gzip on;
  gunzip on;
}
