DIR=/home/yoann/vitrine/up_to_date
MAILTO=""
0 22 * * 0-6  $DIR/named/control.sh    2>&1 | /usr/bin/logger -t CRONOUTPUT 
1 22 * * 4    $DIR/signed/control.sh   2>&1 | /usr/bin/logger -t CRONOUTPUT
# place below in 'sudo crontab -e'
# 3 22 * * 0-6  $DIR/computer/control.sh 2>&1 | /usr/bin/logger -t CRONOUTPUT

